:root {
    --primari-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6 rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes FadeIn {
    from{
        opacity: var(--FadeIn-Opacity-From);
    }
    to{
        opacity: var(--FadeIn-Opacity-To);
    }
}

@keyframes Growth {
    from{
        transform: scale(var(--Growth-Transform-From));
    }
    to{
        transform: scale(var(--Growth-Transform-To));
    }
}


/* Modal Base */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    display: none;

    --FadeIn-Opacity-From: 0.1;
    --FadeIn-Opacity-To: 1;
    animation: FadeIn linear 0.2s;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal__body {
    position: relative;
    margin: auto;
    z-index: 1;

    --Growth-Transform-From: 0;
    --Growth-Transform-To: 1;
    transform-origin: calc(50%) calc(50%);
    animation: Growth linear 0.1s;
}

/* Button Style */
.btn {
    color: var(--text-color);
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 2px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn--size-s {
    height: 32px;
    padding: 0 8px;
    font-size: 1.2rem;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primari-color);
}

.btn.btn--disable {
    cursor: default;
    /* filter: brightness(80%); */
    background-color: #c3c3c3;
    color: #949494;
}



